@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Nunito:wght@700;800;900&family=Roboto:wght@500&display=swap');

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
p,
span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.background-0 {
  background-image: linear-gradient(to bottom, #0f2646, #29bfbd) !important;
}
.background-1 {
  /* The image used */
  background-image: url(./images/background-1.jpg);

  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .background-1 {
    background-image: url(./images/background-1.jpg);

    /* Full height */
    height: 50vh;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mob-nav-move {
    position: absolute;
    bottom: 55px;
  }
  .cont-end {
    display: flex;
    justify-content: end;
  }
}
.justify-content-end {
  justify-content: end;
}
.back-mob-menu {
  background-image: linear-gradient(#2a8aa2, #102445) !important;
}
.fontsize-8 {
  font-size: 73% !important;
}
div > a {
  font-size: 73% !important;
  color: #6e6a8a;
}
li a {
  font-size: 73% !important;
  color: #6e6a8a !important;
}
.marg-top {
  margin-top: 10px;
}
.search-bar {
  display: none !important;
}
.page-icon-1 {
  height: 35px;
  width: 109px;
  margin-left: 10px;
  margin-bottom: 5px;
}
.page-icon-1-2 {
  width: 160px;
  height: 60px;
}
.items-move-left {
  display: flex !important;
  justify-content: start !important;
  margin-right: 250px;
}
.brown-text {
  color: #f27415 !important;
}
.drop-dwn-edit {
  font-size: 70%;
}
.hover-brown:hover {
  color: #f27415 !important;
}
.active-brown:active {
  color: #f27415 !important;
}
.ul-hover-brown p:hover {
  color: #f27415 !important;
}

.move-top {
  margin-top: -30px !important;
}
.move-this-top {
  position: absolute;
  bottom: 55px;
}
@media only screen and (max-width: 600px) {
  .move-this-top {
    font-size: 13px;
  }
  .move-top {
    margin-top: -60px !important;
  }
}
.gradient-top-text {
  background: #fe506a;
  background: linear-gradient(to right, #fe506a 0%, #f99c4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  text-decoration: none;
  margin-top: 60px;
}
.background-word {
  position: absolute;
  top: -20px;
  color: rgb(0, 0, 0);
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  opacity: 0.15;
  font-size: 19vw;
}
.z-index {
  z-index: 1;
}
.mini-icon-1 {
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #384359 !important;
  padding: 15px 15px;
}
.mini-icon-2 {
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f63959 !important;
  padding: 15px 15px;
}
.mini-icon-3 {
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7bc7c3 !important;
  padding: 15px 15px;
}
.mini-icon-4 {
  color: white;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c4eddd !important;
  padding: 15px 15px;
}
.relative-parent {
  position: relative;
}
.absolute-child {
  position: absolute;
  top: 50px;
  right: 0px;
}
.view-width {
  height: 100%;
}
.text-blue {
  color: #352f5c;
}
.font-100 {
  font-size: 100%;
}
.hand-pointer {
  cursor: pointer;
}
.fontWeight {
  font-weight: bold;
}
.box-border {
  gap: 1%;
  box-shadow: 0px 15px 20px 15px rgba(221, 219, 219, 0.4);
  border-radius: 8px;
  position: relative;
}
.box-border:before {
  height: 4px;
  width: 100%;
  top: -7px;
  z-index: 1;
}
.text-lite-blue {
  color: #7469ea;
}
@media only screen and (max-width: 600px) {
  .mob-top-icon {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
  }
  .mob-search-icon {
    padding-left: 120px;
  }
  .mob-list-icon {
    padding: 0px;
    margin-right: 200px;
  }
  .mob-number-top {
    font-size: 12px;
  }
  .navbar-list-search-nmbr {
    display: grid;
  }
}
@media only screen and(max-width: 800px) {
  .Mobile-Nav {
    display: none !important;
  }
}
.disable-shadow {
  box-shadow: none;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
@media only screen and (max-width: 600px) {
  .background-word {
    height: 250px !important;
    position: relative !important;
    margin-top: 5px;
    font-size: 103px;
    opacity: 0.2;
  }
  .mob-gradient-top-text {
    position: absolute;
    top: 58px;
  }
  .mob-tx-sz {
    font-size: 4vh;
  }
  .mob-absolute {
    position: absolute;
    top: 215px;
    z-index: 1 !important;
  }
  .mob-anim {
    font-size: 5vh;
  }
  .mob-mini-icons {
    position: absolute;
    top: 8px;
  }
}
.mob-number-top {
  margin-left: px;
}

.bi-list {
  margin-right: x !important;
}
/* drpdown */
.dropbtn {
  background-color: #ffffff;
  color: black;
  padding: 7px 17px;
  font-size: 16px;
  border: none;
}
.add-padd {
  padding-right: 94px;
}
.dropdwn {
  position: relative;
  display: inline-block;
}

.dropdwn-content {
  display: none;
  position: absolute;
  left: 149px;
  top: 0px;
  background-color: #ffffff;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdwn-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}
.dropdwn-content a:hover {
  background-color: #fff;
}
.dropdwn-content a:focus {
  background-color: #fff;
}
.dropdwn:hover .dropdwn-content {
  display: block;
}
.dropdwn:focus .dropdwn-content {
  display: block;
}

/* dropdown end */
/* dropdown-left */
.dropbtn-left {
  background-color: #ffffff;
  color: black;
  padding: 7px 17px;
  font-size: 16px;
  border: none;
}
.add-padd {
  padding-right: 94px;
}
.dropdwn {
  position: relative;
  display: inline-block;
}

.dropdwn-content-left {
  display: none;
  position: absolute;
  right: 146px;
  top: 0px;
  background-color: #ffffff;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdwn-content-left a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 1;
}
.dropdwn-content-left a:hover {
  background-color: #fff;
}
.dropdwn-content-left a:focus {
  background-color: #fff;
}
.dropdwn:hover .dropdwn-content-left {
  display: block;
}
.dropdwn:focus .dropdwn-content-left {
  display: block;
}
/* dropdown-lft End */
@media only screen and (max-width: 600px) {
  .mob-1 {
    position: absolute;
    top: -70px;
    left: 50px;
  }
  .mob-2 {
    position: absolute;
    top: 170px;
    left: 50px;
  }
  .mob-3 {
    position: absolute;
    top: 390px;
    left: 60px;
  }

  .mob-flx-colum {
    flex-wrap: column;
  }
}
.mob-flx-colum {
  flex-direction: row;
}
.colorful-icons {
  position: absolute;
  width: 160px;
  height: 160px;
  bottom: 130px;
}
.belowColorIcon {
  height: 320px !important;
  width: 400px !important;
}
.fredoka-text {
  font-family: "Nunito", sans-serif !important;
}
.font-topic {
  font-family: "Nunito", sans-serif !important;
  font-weight: 800;
  font-size: 145%;
}

.needed-width {
  width: 60%;
}
.need-width {
  width: 70%;
}
.marg-mob{
  margin-left: 3.5rem;
}
@media only screen and (max-width: 600px) {
  .belowColorIcon {
    width: 280px !important;
  }
  .marg-mob{
    margin-left: 0px;
  }
  .needing-width {
    margin-top: 60px !important;
    width: 390px !important;
  }
  .needing-width-2 {
    width: 100% !important;
  }
  .mob-butn {
    margin-top: 5px;
    background-color: #f3a215 !important;
    border: none;
    padding: 6px 20px;
    border-radius: 5px;
  }
}
.needing-width {
  width: 70%;
}
.needing-width-2 {
  width: 80%;
}
.btn-outline {
  color: #3c3664 !important;
}
.bg-transparent-img {
  background-image: url(./images/transparent-1.png);
  height: 70vh;
  padding: 10px 0px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.miniIcon-1 {
  background: url(./images/miniIcon1.png);
  max-height: 200px;
  /* Center and scale the image nicely */
  background-size: cover;
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  bottom: 135px;
  transition: all 0.2s ease-in-out;
}
.font-lite{
  font-size: small;
  font-weight: 500;
}
.transition {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.notransition {
  -webkit-transform: none;
  transform: none;
}
@media only screen and (max-width: 600px) {
  .miniIcon-1 {
    background: url(./images/miniIcon1.png);
    max-height: 200px;
    /* Center and scale the image nicely */
    background-size: cover;
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    bottom: 530px;
  }
}
.miniIcon-1:hover {
  transform: scale(1.19);
}

.miniIcon-2 {
  background: url(./images/miniIcon2.png);
  max-height: 200px;
  /* Center and scale the image nicely */
  background-size: cover;
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  bottom: 135px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .miniIcon-2 {
    background: url(./images/miniIcon2.png);
    max-height: 200px;
    /* Center and scale the image nicely */
    background-size: cover;
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    bottom: 300px;
  }
}
.miniIcon-2:hover {
  transform: scale(1.19);
}

.miniIcon-3 {
  background: url(./images/miniIcon-3.png);
  max-height: 200px;
  /* Center and scale the image nicely */
  background-size: cover;
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  bottom: 135px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 600px) {
  .miniIcon-3 {
    background: url(./images/miniIcon-3.png);
    max-height: 200px;
    /* Center and scale the image nicely */
    background-size: cover;
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    bottom: 63px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 20px;
  }
}
.miniIcon-3:hover {
  transform: scale(1.19);
}
.custom-button-2 {
  border-color: #3c3664;
  color: #3c3664;
  font-weight: bold;
  font-size: 55% !important;
  padding: 11px 25px;
  border-radius: 4px;
  background-color: #fff;
  border-color: #998fef;
  border-width: 0.1px;
}


.custom-button-2:hover {
  color: #fff;
  background-color: #7469ea;
}
.custom-button {
  border-color: #3c3664;
  color: #3c3664;
  font-weight: bold;
  font-size: 55% !important;
  padding: 12px 20px;
  border-radius: 4px;
  background-color: #fff;
  border: none;
}
.custom-button:active {
  color: #fff;
  background-color: #3c2cee;
}
.custom-button-2:active {
  color: #fff;
  background-color: #3c2cee;
}

.letter-width {
  width: 280px;
}
.z-index-needed {
  position: absolute;
  z-index: 1;
  top: 440px;
}
.z-index-needed-btn {
  position: absolute;
  top: 490px;
}
@media only screen and (max-width: 600px) {
  .z-index-needed-btn {
    position: absolute;
    top: 355px;
    width: 0px;
    height: 0px;
    left: 0px;
  }
  .z-index-needed {
    position: absolute;
    top: 320px;
    left: 0px;
  }
  .mob-cust-btn {
    padding: 11px 140px !important;
    font-size: 95% !important;
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .bg-3 {
    margin-top: 200px !important;
    background: url(./images/bg-3.png);
    max-height: 490px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .mob-pad-nothing {
    padding: 0px !important;
    margin: 0px !important;
  }
  .justify-content-sx-cntr {
    justify-content: center !important;
  }
}
.justify-content-cntr {
  justify-content: center !important;
}
.bg-3 {
  background: url(./images/bg-3.png);
  height: 62vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Gradient-mid-text {
  background: #fe506a;
  background: linear-gradient(to right, #fe506a 0%, #f99c4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-weight: bold;
  font-size: 3.5vw;
}

.mini-font {
  font-size: 50%;
}
.width-size {
  width: 300px;
}
.width-sze {
  width: 250px;
}
@media only screen and (max-width: 600px) {
  .size-of-text {
    font-weight: bold;
    font-size: 20px;
  }
  .width-size {
    width: 400px;
  }
  .size-of-img {
    height: 350px !important;
    width: 350px !important;
  }
  .Gradient-mid-text {
    background: #fe506a;
    background: linear-gradient(to right, #fe506a 0%, #f99c4c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-weight: bold;
    font-size: 8vw;
  }
  .mob-txt-white {
    color: #fff;
  }
  .img-sz {
    width: 350px !important;
    height: 250px !important;
  }
  .cont-center {
    display: flex;
    justify-content: center !important;
  }
  .margn-l {
    margin-left: 0px !important;
  }
  .border-wide {
    width: 365px !important;
    height: 150px !important;
    border-color: rgb(206, 203, 203);
  }
}
@media only screen and (max-width: 601px) {
  .margn-l {
    margin-left: 40px !important;
  }
  .fix-here {
    position: fixed;
   bottom: 500px !important;
    z-index: 1;
  }
  .fix-here-2 {
    position: fixed;
    height: 5px !important;
    width: 5px !important;
    right: 40px !important;
    bottom: 70px !important;
    z-index: 1;
  }
}
.hands-Img {
  background-position: center center;
  overflow: hidden;
  width: 100% !important;
  height: 208px !important;
  transition: all 0.4s ease-in;
}
.hands-Img:hover {
  background-image: url(./images/hands-1.jpg);
  filter: opacity(95%) brightness(100%) blur(50%);
  transform: scale(1.09);
  color: #fff !important;
}
.Teach-Img{
  transition: all 0.2s ease-in;
  background-position: center center;
  overflow: hidden;
  width: 100% !important;
  height: 208px !important;
  transition: all 0.4s ease-in;
}
.Teach-Img:hover {
  background-image: url(./images/Teach-1.jpg);
  background-position: center;
  filter: opacity(95%) brightness(90%);
  transform: scale(1.09);
}
.specsTable-Img{
  transition: all 0.2s ease-in;
  background-position: center center;
  overflow: hidden;
  width: 100% !important;
  height: 208px !important;
  transition: all 0.4s ease-in;
}
.specsTable-Img:hover {
  background-image: url(./images/specs-on-table-11.jpg);
  background-position: center;
  filter: opacity(95%) brightness(100%);
  transform: scale(1.09);
}
.non-movable{
  user-drag: none; 
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}
.size-of-img {
  width: 90%;
  padding-bottom: 0px;
}
.edit-this-card {
  font-weight: bold;
}
.sideIcon-size {
  width: 80px;
  height: 80px;
}
.img-sz {
  width: 450px;
}
.border-wide {
  width: 350px;
  height: 150px !important;
  border-color: rgb(206, 203, 203);
}
.font-styl {
  font-family: "Fredoka One", cursive;
}
.box-shdw {
  box-shadow: 0px 10px 30px 2px rgb(226, 226, 226);
}
.fnt-s {
  font-size: 50px;
}
.font-nunito {
  font-family: "Nunito", sans-serif;
}
/* Progress Bar */
.prog-bar-1 {
  background-image: linear-gradient(to right, #fb6823, #fb9366) !important;
  width: 50%;
  height: 10px;
}
.prog-bar-2 {
  background-image: linear-gradient(to right, #2c4ddb, #637fe4) !important;
  width: 89%;
  height: 10px;
}
.prog-bar-3 {
  background-image: linear-gradient(to right, #20a6a9, #8ecccf) !important;
  width: 70%;
  height: 10px;
}
.prog-bar-4 {
  background-image: linear-gradient(to right, #2c3ba2, #6974be) !important;
  width: 94%;
  height: 10px;
}
.prog-shdw-1 {
  box-shadow: 0px 7px 50px 2px #fa986d;
}
.prog-shdw-2 {
  box-shadow: 0px 7px 50px 2px #738ae7;
}
.prog-shdw-3 {
  box-shadow: 0px 7px 50px 2px #74c4c7;
}
.prog-shdw-4 {
  box-shadow: 0px 7px 50px 2px #7580c2;
}
.prog-back-col {
  background-color: #e7eff2;
}
.prog-width {
  width: 80%;
}
.bg-4 {
  background-image: url(./images/transparent2.png);
  margin-top: 200px !important;
  max-height: 200px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* progress Bar End */
.pop-up-2 {
  transition: all 0.2s ease-in-out;
}
.pop-up-2:hover {
  transform: scale(1.05);
  box-shadow: 0px 7px 50px 2px #d3d2d2;

}
.pop-up-icon {
  transition: all 0.2s ease-in-out;
}
.pop-up-icon:hover {
  transform: scale(1.3);
}
.marg-lft {
  margin-left: 45px;
}
.fix-here {
  position: fixed;
  top: 110px;
  right: 0px;
}
.fix-here-2 {
  position: fixed;
  display: flex;
  height: 5px !important;
  width: 5px !important;
  right: 40px;
  bottom: 50px;
}
.bg-5 {
  background-image: url(./images/background-5.png);
  width: 102%;
  margin-left: -11px;
  margin-bottom: 50px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sz-set {
  width: 400px !important;
  height: 100% !important;
  display: flex;
  margin-top: 20px;
  border: none;
  overflow: hidden;
  border-radius: 30px;

}
.img-set {
  width: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 601px) {
  .bg-6 {
    background-image: url(./images/background-6.png);
    height: 1700px;
    width: 106%;
    padding-top: 100px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-5 {
    background-image: url(./images/background-5.png);
    width: 106%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .input-group {
    margin-left: 12px;
  }
  .marg-lft {
    margin-left: -35px;
  }
  .mob-centr {
    justify-content: center !important;
  }
  .input-row-1 {
    width: 189px !important;
    background-color: #22276c !important;
  }
  .end-button {
    display: inline-flex;
    justify-content: center;
    border: solid #f27415;
    color: #f27415;
    align-items: center;
    padding: 4px 0px;
    background-color: #fff;
    border-radius: 5px;
    border-width: 0.2px;
  }
  .end-button:active {
    background-color: #f27415;
  }
  .input-row-3 {
    height: 85px !important;
    width: 388px !important;
    background-color: #22276c !important;
    border-color: #6c6f9c !important;
  }
  .mob-btn {
    display: flex !important;
    justify-content: center !important;
  }
  .img-set {
    width: 100px !important;
    height: 100px !important;
    /* object-fit: cover; */
  }
  .box-sz {
    height: 190px !important;
    width: 278px !important;
  }
  .mob-marg-lft {
    text-align: center;
  }
  .mob-margin {
    margin-bottom: 300px !important;
  }
}
.bg-6 {
  background-image: url(./images/background-6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-doublequotes {
  background-image: url(./images/bg-doublequote.png);
  height: 60vh !important;
  width: 130% !important;
  margin-left: -100px !important;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
}
.anim-dropdwn {
  overflow: hidden;
  animation-name: pop-outt;
  animation-duration: 0.1s;
  animation-timing-function: linear;
}
@keyframes pop-outt {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.anim-dropdwn-2 {
  overflow: hidden;
  animation-name: pop-o;
  animation-duration: 0.1s;
  animation-timing-function: linear;
}
@keyframes pop-o {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.dec-non {
  text-decoration: none !important;
}
.box-sz {
  height: 210px;
  width: 278px;
}
.grey-text {
  color: #6e6a8a;
}
.fontsize-small {
  font-size: 58% !important;
}
.font-semi-big {
  font-size: 105% !important;
}
.icn-sz {
  font-size: 55%;
  -webkit-text-stroke: 1px;
  color: #cdcbd6;
}
.msg-icn-sz {
  font-size: 250%;
}
.popping {
  animation-name: pop-in;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}
@keyframes pop-in {
  0% {
    transform: scale(1);
    opacity: 0.1;
    transform: translate(-70px, 500px);
  }
  50% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.overflow-hidde{
  overflow: hidden;
}
.popping-text {
  z-index: 1;
}
.gradient-btn {
  position: relative;
  min-height: 38px;
  color: #fff;
  min-width: 95px;
  background-image: linear-gradient(to right, #8f86f1, #5140e7);
  z-index: 1;
  border-radius: 4px;
  border: none;
  font-size: 8px !important;
}

.gradient-btn::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, #8f86f1, #5645eb);
  border-radius: 4px;
  z-index: -1;
  transition: opacity 0.4s linear;
  opacity: 0;
}
.gradient-btn:hover::before {
  opacity: 1;
}
.l-height {
  line-height: 59px;
}
.Gradient-bottom-text {
  background: linear-gradient(to right, #fe506a, #f99c4c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 800;
  font-size: 53px;
}
.input-row-1 {
  width: 210px;
  background-color: #22276c !important;
  border-color: #6c6f9c !important;
}
.input-row-3 {
  height: 85px !important;
  width: 425px;
  background-color: #22276c !important;
  border-color: #6c6f9c !important;
}
.last-icons {
  height: 25px;
  width: 25px;
}
.icon-back-green {
  background-color: #84dec8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 2px 2px;
  border-radius: 50%;
}
.medium-txt-sz {
  font-size: small;
}
.bg-blue {
  background-color: #0c183e;
}
.holder-col {
  background-color: #131e4e !important;
}
.holder-col:focus {
  box-shadow: none !important;
}

.form-control {
  outline: none !important;
}

.custom-button-last {
  background: linear-gradient(to right, #8f86f1, #685be7 100%);
  border-color: #3c3664;
  color: #fff;
  font-weight: bold;
  font-size: 55% !important;
  padding: 11px 20px;
  border-radius: 8px;
}
.custom-button-mob {
  background: linear-gradient(to right, #8f86f1, #685be7 100%);
  border-color: #3c3664;
  color: #fff;
  font-weight: bold;
  font-size: 55% !important;
  padding: 11px 20px;
  border-radius: 8px;
}
.custom-button-last:hover {
  color: rgb(18, 18, 20);
  background-color: #6459e6 !important;
}
.custom-button-last:active {
  color: #fff;
  background-color: #2916f5;
}
.lite-blue-text {
  color: #6b72a3;
}
.end-button {
  display: inline-flex;
  justify-content: center;
  border: solid #f27415;
  align-items: center;
  padding: 4px 0px;
  color: #f27415;
  background-color: #fff;
  border-radius: 5px;
  border-width: 0.2px;
}
.end-button:hover {
  color: #fff !important;
  background-color: #f27415;
}
.end-button:active {
  color: #fff !important;
  background-color: #f27415;
}
.tex-lit:hover {
  color: #fff;
}
.socialM-icon-sz {
  font-size: 70%;
}
.plus-icon-small {
  font-size: 90%;
}
.mini-Icon-Txt {
  font-size: 40px !important;
  letter-spacing: -4px !important;
  margin-top: 37px;
}
/* speach Bubble */
.talk-bubble {
  margin-bottom: 0px;
  display: inline-block;
  position: relative;
  width: 400px !important;
  height: 200px !important;
  background-color: rgb(250, 250, 245);
}
.talktext {
  margin-right: 1.5em;

  text-align: left;
  line-height: 1.5em;
}
.talktext div {
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}
.round {
  border-radius: 15px !important;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 0px 10px 30px 5px rgb(233, 231, 231);
}
.tri-right.border.btm-left:before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  right: 0 !important;
  top: 0 !important;
  bottom: -40px;
  border: 32px solid;
  border-color: transparent transparent transparent #666;
}
.tri-right.btm-left:after {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;

  border-color: transparent transparent transparent rgb(250, 250, 247);
}
/* speech bubble end */
.other-blue-text {
  color: #6e6a8a;
}
.img-1 {
  background-repeat: no-repeat;
  border-radius: 50% !important;
  height: 50px;
  width: 50px;
}
.floating-1 {
  animation-name: floating-1;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-1 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-0.5rem, -1ex);
  }
  50% {
    transform: translate(0rem, -2.5ex);
  }
  75% {
    transform: translate(-0.5rem, -1ex);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* floating-2 */
.img-2 {
  border-radius: 50% !important;
  background-repeat: no-repeat;
  height: 93px;
  width: 93px;
}
.floating-2 {
  animation-name:floating-2;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-2 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0.5rem, 1ex);
  }
  50% {
    transform: translate(0rem, 2.5ex);
  }
  75% {
    transform: translate(0.5rem, 1ex);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* float 3 */
.img-3 {
  background-repeat: no-repeat;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
}
.floating-3 {
  animation-name: floating-3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function:linear;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-3 {
  0% {
    transform: translate(0px, 0px);
   
  }
  25% {
    transform: translate(8px, 1ex);

  }
  50% {
    transform: translate(0rem, 2.5ex);
   
  }
  75% {
    transform: translate(8px, 1ex);
   
  }
  100% {
    transform: translate(0px, 0px);
   
  }
}
/* float 4 */
.img-4 {
  background-repeat: no-repeat;
  border-radius: 50% !important;
  height: 70px;
  width: 70px;
}
.floating-4 {
  animation-name: floating-4;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-4 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-0.5rem, -1ex);
  }
  50% {
    transform: translate(0rem, -2.5ex);
  }
  75% {
    transform: translate(-0.5rem, -1ex);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* float 5 */
.img-5 {
  background-repeat: no-repeat;
  border-radius: 50% !important;
  height: 60px;
  width: 60px;
}
.floating-5 {
  animation-name: floating-5;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-5 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-0.5rem, -1ex);
  }
  50% {
    transform: translate(0rem, -2.5ex);
  }
  75% {
    transform: translate(-0.5rem, -1ex);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.img-this-6 {
  background-repeat: no-repeat;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
}
.floating-6 {
  animation-name: floating-6;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating-6 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-0.5rem, -1ex);
  }
  50% {
    transform: translate(0rem, -2.5ex);
  }
  75% {
    transform: translate(-0.5rem, -1ex);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* floating IMG End*/
.img-sze {
  height: 25px;
  width: 100px;
}
.inp-col::placeholder {
  color: #fff !important;
  font-size: 60% !important;
}
.inp-col {
  color: #fff !important;
}
.inp-col-last {
  color: #fff !important;
}
.inp-col-last::placeholder {
  color: #747bac !important;
  font-size: 60% !important;
}
textarea {
  resize: none !important;
}
.place-icon {
  position: absolute;
  z-index: 1;
  right: 290px;
  bottom: 17px;
}
.only-on-hover{
  position: absolute;
  bottom: -8%;
  left: 10%;
}
/* Filter-Data */
.filterDiv {
  position: relative;
  float: left;
  color: #ffffff;
  width: 180px;
  line-height: 70px;
  text-align: center;
  margin: 2px;
  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}
@media only screen and (max-width: 601px) {
  .container {
    margin-left: 100px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .picture-sz{
    height: 70% !important;
    border-radius: 8%;
  }
  .only-on-hover-1,
  .only-on-hover-2,
   .only-on-hover-3,
   .only-on-hover-4{
    display: none !important;
   } 
   .shadow-down{
    box-shadow: inset 0px 0px 0px 0px;
   }
   .marg-img-1,
   .marg-img-2,
   .marg-img-4{
margin: 0px !important;
   }
}
.marg-img-1{
margin-right: 17px;
}
.marg-img-2{
margin-top: 17px !important;
}
.marg-img-4{
  margin-top: 17px !important;
  margin-left: 17px;
}
.btons {
  border: none;
  outline: none;
  padding: 1px 8px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.btons:hover {
  background: linear-gradient(to right, #f1aa18, #fe7825 100%);
  color: #fff;
}

.btons.activ {
  background: linear-gradient(to right, #f1aa18, #fe7825 100%);
  color: white;
}
/* Filter-Data End*/
.text-fix{
  position: relative;
  bottom: 10px;
  top: 100px;
  left: 50px;
  right: 10px;
}
/* BG Dot Colors */
.dot-container .dott1{
  position: relative;
font-weight: 700;
  animation-name: dot-1;
  animation-duration: 9s;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: inline-flex;
color: #feb737;
z-index: 1;
}
@keyframes dot-1 {
  0% {
    left: 50px;
    bottom: 0px;
  }
  25% {
    left: 75px;
    bottom: 270px;
  }
  50% {
    left: 60px;
    bottom: 400px;
  }
  75% {
    left: 70px;
    bottom: 550px;
  }
  100% {
    left: 71px;
    bottom: 639px;
  }
}
.dot-container .dott2{
  position: relative;
  font-weight: 700;
    animation-name: dot-2;
    animation-duration:12s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #feb737;
  z-index: 1;
}
@keyframes dot-2 {
  0% {
    left: 70px;
    bottom: 30px;
  }
  25% {
    left: 80px;
    bottom: 150px;
  }
  50% {
    left: 85px;
    bottom: 400px;
  }
  75% {
    left: 82px;
    bottom: 550px;
  }
  100% {
    left: 83px;
    bottom: 639px;
  }
  
}
.dot-container .dott3{
  position:relative;
  font-weight: 700;
    animation-name: dot-3;
    animation-duration: 16s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #5dd5cb;
  z-index: 1;
}
@keyframes dot-3 {
  0% {
    left: 100px;
    bottom: 100px;
  }
  25% {
    left: 110px;
    bottom: 250px;
  }
  50% {
    left: 150px;
    bottom: 400px;
  }
  75% {
    left: 140px;
    bottom: 559px;
  }
  100% {
    left: 141px;
    bottom: 639px;
  }
}
.dot-container .dott4{
  position: relative;
  font-weight: 700;
    animation-name: dot-4;
    animation-duration: 15s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #5dd5cb;
  z-index: 1;
}
@keyframes dot-4 {
  0% {
    left: 250px;
    bottom: 150px;
  }
  25% {
    left: 260px;
    bottom: 290px;
  }
  50% {
    left: 250px;
    bottom: 400px;
  }
  75% {
    left: 260px;
    bottom: 559px;
  }
  100% {
    left: 261px;
    bottom: 639px;
  }
}
.dot-container .dott5{
  position: relative;
  font-weight: 700;
    animation-name: dot-5;
    animation-duration: 12s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #f34dac;
  z-index: 1;
}
@keyframes dot-5 {
  0% {
    left: 350px;
    bottom: 50px;
  }
  25% {
    left: 370px;
    bottom: 150px;
  }
  50% {
    left: 350px;
    bottom: 400px;
  }
  75% {
    left: 360px;
    bottom: 559px;
  }
  100% {
    left: 361px;
    bottom: 639px;
  }
}
.dot-container .dott6{
  position: relative;
  font-weight: 700;
    animation-name: dot-6;
    animation-duration: 6s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #0f4b9b;
  z-index: 1;
}
@keyframes dot-6 {
  0% {
    left: 710px;
    bottom: 330px;
  }
  25% {
    left: 670px;
    bottom: 450px;
  }
  50% {
    left: 690px;
    bottom: 550px;
  }
  75% {
    left: 680px;
    bottom: 589px;
  }
  100% {
    left: 681px;
    bottom: 639px;
  }
}
.dot-container .dott7{
  position: relative;
  font-weight: 700;
    animation-name: dot-7;
    animation-duration: 10s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #fdb637;
  z-index: 1;
}
@keyframes dot-7 {
  0% {
    left: 900px;
    bottom: 10px;
  }
  25% {
    left: 870px;
    bottom: 150px;
  }
  50% {
    left: 890px;
    bottom: 400px;
  }
  75% {
    left: 900px;
    bottom: 559px;
  }
  100% {
    left: 901px;
    bottom: 639px;
  }
}
.dot-container .dott8{
  position: relative;
  font-weight: 700;
    animation-name: dot-8;
    animation-duration: 6s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #8f3ee5;
  z-index: 1;
}
@keyframes dot-8 {
  0% {
    left: 1060px;
    bottom: 230px;
  }
  25% {
    left: 1070px;
    bottom: 300px;
  }
  50% {
    left: 1060px;
    bottom: 450px;
  }
  75% {
    left: 1070px;
    bottom: 559px;
  }
  100% {
    left: 1071px;
    bottom: 639px;
  }
}
.dot-container .dott9{
  position: relative;
  font-weight: 700;
    animation-name: dot-9;
    animation-duration: 9s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #fd5051;
  z-index: 1;
}
@keyframes dot-9 {
  0% {
    left: 1050px;
    bottom: 10px;
  }
  25% {
    left: 1055px;
    bottom: 250px;
  }
  50% {
    left: 1050px;
    bottom: 400px;
  }
  75% {
    left: 1080px;
    bottom: 559px;
  }
  100% {
    left: 1081px;
    bottom: 639px;
  }
}
.dot-container .dott10{
  position: relative;
  font-weight: 700;
    animation-name: dot-10;
    animation-duration: 10s;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: inline-flex;
  color: #fef337;
  z-index: 1;
}
@keyframes dot-10 {
  0% {
    left: 1250px;
    bottom: 200px;
  }
  25% {
    left: 1280px;
    bottom: 300px;
  }
  50% {
    left: 1230px;
    bottom: 450px;
  }
  75% {
    left: 1270px;
    bottom: 559px;
  }
  100% {
    left: 1240px;
    bottom: 639px;
  }
}
/* BG Dot Colors */
.big-card-img-1{
  position: relative; 
  width: 420px !important;
  height: 340px;
 }
  .only-on-hover-1{
    position: absolute;
   left: 0px;
  padding: 0px 50px;
    bottom: -15% !important;
    display: inline-flex;
    width: 100%;
    box-shadow: inset 0px -150px 79px -83px #2865D6;
    }
    .big-card-img-2{
       position: relative; 
       width: 420px !important;
       height: 340px;
      }
      .only-on-hover-2{
        position: absolute;
        left: 0px;
       padding: 0px 50px;
         bottom: -15% !important;
         display: inline-flex;
         width: 100%;
         box-shadow: inset 0px -150px 79px -83px #2865D6;
        }
    .big-card-img-3{
       position: relative; 
       width: 420px !important;
       height: 340px;
      }
      .only-on-hover-3{
        position: absolute;
        left: 0px;
       padding: 0px 50px;
         bottom: -15% !important;
         display: inline-flex;
         width: 100%;
         box-shadow: inset 0px -150px 79px -83px #2865D6;
        }
    .big-card-img-4{
       position: relative; 
       width: 420px !important;
       height: 340px;
      }
      .only-on-hover-4{
        position: absolute;
        left: 0px;
       padding: 0px 50px;
         bottom: -15% !important;
         display: inline-flex;
         width: 100%;
         box-shadow: inset 0px -150px 79px -83px #2865D6;
        }
        .inner{
          overflow: hidden;
          position: relative; 
          width: 420px !important;
          height: 340px;
          object-fit: cover;
        }
        .inner img{
          transition: all 0.5s ease;
        }
        .inner:hover img {
          transform: scale(1.11);
        }
        .prevent-overflow{
          overflow: hidden;
          position: relative; 
          object-fit: cover;
        }
        .inner .hands-Img{
          transition: all 0.5s ease;
        }
        .inner:hover .hands-Img {
          transform: scale(1.11);
        }
        .picture-sz{
          height: 100%;
        }
.text-swan:hover .fontsize-small{
color: #fff !important;
}
.text-swan:hover .font-semi-big{
  color: #fff !important;
}
 .big-card-img-1 p, 
 .big-card-img-2 p,
 .big-card-img-3 p,
 .big-card-img-4 p{
padding-top: 80px;
}
/* sample Button */
.button-57 {
  position: relative;
  overflow: hidden;
  border:none;
  color: #18181a;
  padding: 7px 20px;
  border-radius: 4px;
  cursor: pointer;
  background: #fff;
  user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
  font-size: 8px !important;
  color: #3c3664;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 7px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: #7469ea;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
padding-bottom: 12px;
}
/* Samp Butt End */